<%-include('../cabecalho.ejs')%>
<h1>Adicionar Aluno</h1>
<div>
<a href="/aluno/lst">listar</a>
<div>
<form method="post">
<label for="nome">Nome:</label>
<input type="text" name="nome" ><br>
<label >Matrícula:</label>
<input type="text" name="matricula"><br>
<input type="submit" > Cadastrar</form>button>
</form>
</div>
</div>
<%-include('../rodape.ejs')%>