<%-include('../cabecalho.ejs')%>
<h1>Adicionar Curso</h1>
<div>
<div>
<form method="post">
<label for="nome">Nome:</label>
<input type="text" name="nome" ><br>
<label >Área:</label>
<input type="text" name="area"><br>
<label >Ano de Fundação:</label>
<input type="number" name="anoFundacao"><br>

<label for="nivel">Nível:</label>
<select name="nivel" id="nivel" required>
    <option value="">Selecione</option>
    <option value="tecnico">Técnico</option>
    <option value="tecnologo">Tecnologo</option>
    <option value="bacharelado">Bacharelado</option>
    <option value="mestrado">Mestrado</option>
    <option value="doutorado">Doutorado</option>
</select>
<input type="submit" ></form>
</form>
</div>
</div>
<%-include('../rodape.ejs')%>